# --- Android Studio / IntelliJ ---
# Ignore the .idea folder everywhere (User settings, window layouts)
**/.idea/
*.iws
*.iml
**/*.iml
*.ipr

# --- Build Files ---
# Ignore build folders (compiled code) everywhere
**/build/
.gradle/
**/out/

# --- Local Configuration ---
# specific SDK paths that differ per machine
**/local.properties

# --- OS Junk ---
.DS_Store
